{% extends "account/base_manage.html" %}
{% comment %}
Trocar a senha (no lugar da tela do allauth), aberta por "Minha conta". Os rótulos vêm de
apps.contas.forms.TrocarSenhaForm; depois de salvar, volta para "Minha conta".
{% endcomment %}
{% block head_title %}Trocar senha{% endblock %}
{% block content %}
  <h1>Trocar senha</h1>
  <form method="post" action="{% url 'account_change_password' %}" class="mt-5">
    {% csrf_token %}
    {% include "componentes/erros_do_formulario.html" %}
    {% include "componentes/campo.html" with campo=form.oldpassword %}
    {% include "componentes/campo.html" with campo=form.password1 %}
    {% include "componentes/campo.html" with campo=form.password2 %}
    {{ redirect_field }}
    <div class="mt-6 flex flex-wrap gap-2">
      <button type="submit" class="btn-pri">Salvar nova senha</button>
      <a href="{% url 'contas:minha_conta' %}" class="btn-sec">Voltar</a>
    </div>
  </form>
{% endblock %}
